.container {
    font-family: 'Noto Sans', sans-serif;
    
}


h3 {
    margin-bottom: 30px;
    margin-left: 65%;
}

th {
    height: 0px;
    text-align: center;
    border-style: solid;
}

td {
    height: 100px;
    width: 100px;
    border-style: groove;
    text-align: left;
    vertical-align: top;
    transition: transform .2s;
}

td:hover{
    transform: scale(1.1);
}

.today {
    background: orange;
}

th:nth-of-type(1), td:nth-of-type(1) {
    color: red;
}

th:nth-of-type(7), td:nth-of-type(7) {
    color: blue;
}

table{
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right: 8%;
}

.tareas-hoy{
    display:flex;
    position: relative;
    z-index: 10;
    float: left;
    border-style: double;
    height: 675px;
    margin-left: 2%;
}

td.ctd-hoy{
    color: black;
    border: none;
    width: auto;
    max-width: 700px;
}

td.ctd-hoy:hover{
    transform: scale(1);
}

a{
    text-decoration: none;
    color: inherit;
}
